
.tp-offer-comment {
  .label-md {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: inherit;
    .card-md {
      border-radius: 7px;
      margin-left: 3px;
      margin-right: 3px;
      width: inherit;
    }

    .card-content-md {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
}
