.idea
node_modules
dist
build
docker/data
server/app/**/**/*.js
server/app/**/**/*.map
server/test/**/**/*.js
server/test/**/**/*.map
common/**/**/*.js
common/**/**/*.map
common/*.js
mobile/www
mobile/platforms
mobile/plugins
mobile/.sourcemaps
mobile/src/**/*.js
mobile/src/**/*.map
